{% extends 'layout.twig' %}
{% block title %}
Index des films
{% endblock %}
{% block content %}
<table id="tbl">
<thead>
<tr>
	<th>
	<th>Titre français</th>
	<th>Titre original</th>
	<th>Couleur</th>
	<th>Pays</th>
	<th>Date</th>
	<th>Durée</th>
	<th>Realisateur</th>
	<th>Edit</th>
	<th>Delete</th>
</tr>
</thead>
<tbody>
{% for film in films %}
<tr data-id="{{ film.code_film }}" class="row-{{ film.code_film }}">
	<td class="details-control"></td>
	<td>{{ film.titre_francais }}</td>
	<td>{{ film.titre_original }}</td>
	<td>{{ film.couleur }}</td>
	<td>{{ film.pays }}</td>
	<td>{{ film.date }}</td>
	<td>{{ film.duree }}</td>
	{# si pas de date de mort pour le réalisateur, affiche "not yet" à la la place #}
	<td data-id="{{ film.realisateur }}">{{ film.prenom }} {{ film.nom }} ({{ film.date_naiss }} - {{ film.date_mort == 0 ? 'not yet' : film.date_mort }})</td>
	<td><button type="button" class="editButton btn btn-warning btn-sm" data-id="{{ film.code_film }}">Edit</button></td>
	<td><button type="button" class="deleteButton btn btn-danger btn-sm" data-id="{{ film.code_film }}">Delete</button></td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
	<th>
	<th>Titre français</th>
	<th>Titre original</th>
	<th>Couleur</th>
	<th>Pays</th>
	<th>Date</th>
	<th>Durée</th>
	<th>Realisateur</th>
	<th>Edit</th>
	<th>Delete</th>
</tr>
</tfoot>
</table>


<button type="button" class="createM btn btn-success">Créer un film</button>
<div hidden class="saved row">
	<p class="col-md-9 col-md-offset-3">Le film a bien été enregistré<p>
</div>

<div class="row" id="newFilm">
	{% include "newFilm.twig" %}
</div>
{% endblock %}