{% extends 'layout.twig' %}
{% block title %}
Index des films
{% endblock %}
{% block content %}
Liste des films :
<table id="tbl">
<thead>
<tr>
	<th>Titre français</th>
	<th>Titre original</th>
	<th>Couleur</th>
	<th>Pays</th>
	<th>Date</th>
	<th>Durée</th>
	<th>Editer</th>
	<th>Supprimer</th>
</tr>
</thead>
<tbody>
{% for film in films %}
<tr class="row-{{ film.code_film }}">
	<td>{{ film.titre_francais }}</td>
	<td>{{ film.titre_original }}</td>
	<td>{{ film.couleur }}</td>
	<td>{{ film.pays }}</td>
	<td>{{ film.date }}</td>
	<td>{{ film.duree }}</td>
	<td><button type="button" class="editButton" data-id="{{ film.code_film }}">Edit</button></td>
	<td><button type="button" class="deleteButton" data-id="{{ film.code_film }}">Delete</button></td>
</tr>
{% endfor %}
</tbody>
</table>
{% include "newFilm.twig" %}
{% endblock %}