{% extends 'layout.twig' %}
{% block title %}
Index des films
{% endblock %}
{% block content %}
Liste des films :
<table>
<tr>
	<th>Titre français</th>
	<th>Titre original</th>
	<th>Couleur</th>
	<th>Pays</th>
	<th>Date</th>
	<th>Durée</th>
	<th>Editer</th>
	<th>Supprimer</th>
</tr>
{% for film in films %}
<tr class="row-{{ film.code_film }}">
	<td contenteditable="true" >{{ film.titre_francais }}</td>
	<td contenteditable="true">{{ film.titre_original }}</td>
	<td contenteditable="true">{{ film.couleur }}</td>
	<td contenteditable="true">{{ film.pays }}</td>
	<td contenteditable="true">{{ film.date }}</td>
	<td contenteditable="true">{{ film.duree }}</td>
	<td><button type="button" class="editButton" data-id="{{ film.code_film }}">Save</button></td>
	<td><button type="button" class="deleteButton" data-id="{{ film.code_film }}">Delete</button></td>
</tr>
{% endfor %}
</table>

{% include "newFilm.twig" %}
{% endblock %}